#!/bin/bash
git pull

docker build --build-arg sql_host= \
--build-arg sql_port= \
--build-arg sql_user= \
--build-arg sql_pass= \
--build-arg sql_db= \
--build-arg host= \
--build-arg domain= \
-t cyclopedia_api:dev \
.


